aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.6.5
anyio==3.5.0
argon2-cffi==20.1.0
asn1crypto==0.24.0
async-generator==1.10
async-timeout==4.0.3
asynctest==0.13.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==3.3.0
certifi==2018.8.24
certipy==0.1.3
cffi==1.14.5
chardet==3.0.4
charset-normalizer==3.3.2
cryptography==3.4.7
cycler==0.11.0
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.6
distro-info==0.21+deb10u1
entrypoints==0.3
fail2ban==0.10.2
fastjsonschema==2.15.3
filelock==3.12.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
greenlet==1.1.0
gunicorn==19.9.0
httplib2==0.11.3
huggingface-hub==0.16.4
idna==3.3
importlib-metadata==4.5.0
iotop==0.6
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-core==4.7.1
jupyter-server==1.16.0
jupyter-telemetry==0.1.0
jupyterhub==2.2.2
jupyterlab==3.3.3
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.4.5
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib==3.5.3
matplotlib-inline==0.1.2
mistune==0.8.4
msgpack==0.5.6
multidict==6.0.5
multiprocess==0.70.15
nbclassic==0.3.7
nbclient==0.5.3
nbconvert==6.5.0
nbformat==5.3.0
neovim==0.3.0
nest-asyncio==1.5.1
notebook==6.4.0
notebook-shim==0.1.0
numpy==1.21.6
oauthlib==3.1.1
packaging==20.9
pamela==1.0.0
pandas==1.3.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prometheus-client==0.11.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.9.0
PyGObject==3.30.4
pyinotify==0.9.6
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySimpleSOAP==1.16.2
python-apt==1.8.4.3
python-dateutil==2.8.1
python-debian==0.1.35
python-debianbts==2.8.2
python-editor==1.0.4
python-json-logger==2.0.1
pytz==2022.1
pyxdg==0.25
PyYAML==6.0.1
pyzmq==22.1.0
reportbug==7.5.3+deb10u2
requests==2.21.0
rpl==1.5.6
rpy2==2.9.5
ruamel.yaml==0.17.7
ruamel.yaml.clib==0.2.2
seaborn==0.12.2
SecretStorage==2.3.1
Send2Trash==1.5.0
six==1.12.0
sniffio==1.2.0
soupsieve==2.3.2
SQLAlchemy==1.4.17
systemd-python==234
terminado==0.10.0
testpath==0.5.0
tinycss2==1.1.1
tornado==6.1
tqdm==4.66.4
traitlets==5.1.1
typing-extensions==3.10.0.0
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==15.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
yarl==1.9.4
zipp==3.4.1
